@{
    ViewBag.Title = "Index";
}
<div id="content">
    <div class="grayLine"></div>

    <div id="banner"></div>
    <div class="grayLine"></div>

    <label class="title">Nossos Serviços</label>
    <ul class="homeIcons">
        <li>
            <label>Integração com Facebook</label><br />
            <a href="@Url.Content("~/InicialPage/AboutUs")">
                <img src="../../Content/Images/faceIcon.png" alt="Integração com Facebook"/>
            </a>
        </li>
         <li>
            <label>Bibliotecas Google Maps</label><br />
            <a href="@Url.Content("~/InicialPage/AboutUs")">
                <img src="../../Content/Images/mapasIcon.png" alt="Bibliotecas Google Maps"/>
            </a>
        </li>
         <li>
            <label>Serviços por todo o Brasil</label><br />
            <a href="@Url.Content("~/InicialPage/AboutUs")">
                <img src="../../Content/Images/brasilIcon.png" alt="Encontre sua carona"/>
            </a>
        </li>
    </ul>
    <label class="title" style="margin-left:20px;" >Nossas Vantagens</label> 
    <ul class="homeIcons">
        <li>
            <label>Proteja o meio ambiente</label><br />
            <a href="@Url.Content("~/InicialPage/AboutUs")">
                <img src="../../Content/Images/mundoIcon.png" alt="Proteja o meio ambiente"/>
            </a>
        </li>
         <li>
            <label>Encontre sua carona</label><br />
            <a href="@Url.Content("~/InicialPage/AboutUs")">
                <img src="../../Content/Images/caronaIcon.png" alt="Encontre sua carona"/>
            </a>
        </li>
         <li>
            <label>Receba descontos</label><br />
            <a href="@Url.Content("~/InicialPage/AboutUs")">
                <img src="../../Content/Images/dolarIcon.png" alt="Receba descontos"/>
            </a>
        </li>
    </ul>
</div>
