@{
    Layout = null;	
}
<link href="@Url.Content("~/Content/Styles/Menu.css")" rel="stylesheet" type="text/css">

<nav id="menu">
    <ul>
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("NewUser", "Home")">Meu Perfil</a></li>
        <li><a href="@Url.Action("NewUser", "Home")">Caronas</a></li>
        <li><a href="@Url.Action("NewUser", "Home")">Histórico</a></li>
        <li><a href="@Url.Action("NewUser", "Home")">Configurações</a></li>
        <li><a href="@Url.Action("Contact", "Home")">Sair</a></li>
    </ul>
</nav>
